
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display:ital,wght@1,700;1,900&display=swap');

body {
    margin: center;
    background-color: #FDEBD0;
}


.logo1 {
    width: 10%;
}
.logo2 {
position: relative;
left: 140px;
bottom: 99px;
font-family: 'Pacifico', cursive;
font-size: x-large;
}

#Nav {
    text-align: right;
    position: relative;
    bottom: 200px;
    text-decoration:none;
    padding: 50px;
    text-transform: uppercase;
    margin: 1px;
    left: 50px;
    color: #000;
}

footer nav {
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    }

footer {
        text-align: center;
        background-color : #F3AD96;
        color: black;
        }


main h1 {
    text-align: center;
    position: relative;
    bottom: 225px;
    font-family: 'Pacifico', cursive;
    background-color :#F3AD96;

 }

main h3 {
     text-align: center;
     position: relative;
     bottom: 200px;
     font-family: 'Pacifico', cursive;
 }




 

